######### Global ThreadPool #########
Ice.ThreadPool.Client.SizeMax = 10
Ice.ThreadPool.Server.SizeMax = 10
Ice.MessageSizeMax = 2000000

######### gossipAddress settings ################
# 内网IP
myself.ip = 172.17.2.125
# 公网静态IP
myself.pubIP = 172.17.2.125
# gossip网络端口
myself.gossipPort = 25005
# 节点rpc服务端口
myself.rpcPort = 25004
# 节点rpc服务端口
myself.httpPort = 25003
